/vendor/*
/.phpunit.result.cache
/composer.lock

/tests/image/Fixtures/*thumb*
!/tests/symfony/Fixtures/app/public/.gitkeep
/tests/symfony/Fixtures/app/public/*
!/tests/symfony/Service/UploadServiceTest.bak
