/vendor/*
/.phpunit.result.cache
/composer.lock

/var/*
!/var/.gitkeep

/tests/image/Fixtures/*thumb*
/tests/symfony/Fixtures/app/public/*
!/tests/symfony/Fixtures/app/public/.gitkeep
!/tests/symfony/Service/UploadServiceTest.bak
