<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true">
    <filter>
        <whitelist>
            <directory>./lib</directory>
            <directory>./src</directory>
            <exclude>
                <directory>lib/adoria/Tests</directory>
                <directory>lib/curl/Tests</directory>
                <directory>lib/ftp/Tests</directory>
                <directory>lib/ocrlad/Tests</directory>
                <directory>lib/quadratus/Tests</directory>
                <directory>lib/skidata/Tests</directory>
                <directory>src/types/Resources</directory>
            </exclude>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="webeweb/core-library">
            <directory>./lib/adoria/Tests</directory>
            <directory>./lib/curl/Tests</directory>
            <directory>./lib/ftp/Tests</directory>
            <directory>./lib/ocrlad/Tests</directory>
            <directory>./lib/quadratus/Tests</directory>
            <directory>./lib/skidata/Tests</directory>
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
